import React from 'react';

export interface {{pascalCase name}}Props {}

const {{pascalCase name}} = (props: {{pascalCase name}}Props): JSX.Element => {
  return (
    <div>
      <h1>{{pascalCase name}} component</h1>
    </div>
  );
};

export default {{pascalCase name}}

